@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

:root {
  --blue-color: #30cfd0;
  --purple-color: #330867;
  --light-purple-color: #8527f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  font-size: 10px;
}

body {
  overflow: hidden;
  background: rgb(51, 8, 103);
  background: linear-gradient(
      180deg,
      var(--purple-color) 0%,
      var(--blue-color) 100%
    )
    fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  height: calc(100vh - 60px);
}

.wrapper {
  max-width: 1200px;
  width: 1200px;
  margin: 60px auto 60px;
  background-color: #000;
  border-radius: 30px;
  min-height: 85vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  border-bottom: 1px solid #ddd;
  color: white;
}

header .title {
  font-family: "Londrina Solid", cursive;
  font-size: 5rem;
  letter-spacing: 2px;
}

header .add_task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

header .checkbox {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 10px;
}

header .checkbox_label {
  font-size: 1.6rem;
  margin-right: 20px;
}

header .input {
  height: 3.3rem;
  flex-basis: 50%;
  font-size: 1.8rem;
  padding-left: 10px;
  border: 2px solid var(--purple-color);
  border-radius: 15px 0 0 15px;
  border-right: none;
}

header .input:focus {
  outline: none;
  border: 2px solid var(--blue-color);
}

header .add_task_btn {
  width: 100px;
  height: 3.3rem;
  font-size: 1.8rem;
  border-radius: 0 15px 15px 0;
  border: 2px solid transparent;
  background-color: var(--purple-color);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
}

header .add_task_btn:hover {
  background-color: var(--blue-color);
  color: black;
}

header .add_task_btn:focus {
  outline: none;
}

main.tasks_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4rem 1fr;
  min-height: 50vh;
  color: #fff;
}

main.tasks_wrapper h2 {
  font-size: 2rem;
  line-height: 2;
  text-align: center;
}

main.tasks_wrapper ul {
  list-style: none;
  color: white;
  text-align: center;
}

main.tasks_wrapper ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.9rem;
  line-height: 1.6rem;
  width: 90%;
  margin: 15px auto;
}

main.tasks_wrapper ul li button {
  margin-left: 10px;
  flex-basis: 24%;
  padding: 2px;
  font-size: 1.6rem;
  border: 1px solid var(--blue-color);
  border-radius: 8px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

main.tasks_wrapper ul li button:hover {
  background-color: var(--blue-color);
  color: black;
}

main.tasks_wrapper ul li button.editBtn {
  margin-left: 40px;
}

main.tasks_wrapper ul li button.deleteBtn,
main.tasks_wrapper ul li button.deleteBtn_done {
  border-color: red;
}

main.tasks_wrapper ul li button.deleteBtn:hover,
main.tasks_wrapper ul li button.deleteBtn_done:hover {
  background-color: red;
  color: white;
}

main.tasks_wrapper ul li button.button_edit {
  border-color: var(--light-purple-color);
}

main.tasks_wrapper ul li button.button_edit:hover {
  background-color: var(--light-purple-color);
  color: white;
}

main.tasks_wrapper ul li button.button_edit:focus {
  outline: none;
}

.input_edit {
  width: 40%;
  height: 2.6rem;
  font-size: 1.6rem;
  padding-left: 10px;
  border-radius: 8px;
}

.input_edit:focus {
  outline: none;
  border: 2px solid var(--light-purple-color);
}
.priority {
  color: #ff6a61;
  font-weight: bold;
}
